Allow redirect_uri to be different from target_link_uri

**Is your feature request related to a problem? Please describe.**
This line of code: https://github.com/Cvmcosta/ltijs/blob/master/src/Utils/Request.js#L16 restricts us to using a target_link_uri
that is one of the preregistered redirect urls with the platform. I do not believe that is required by LTI or OAuth 2.0. 

**Describe the solution you'd like**
My goal is to be able use launch resource links with resource _specific_ URLs. These would likely, for example, to be resource links that had been created as a result of a deep link launch. For example the URL might be something `https://myuni.edu/quizes/10`.  Then we could do something like:
```javascript
    lti.onConnect(async (token, req, res) => {
      return lti.redirect(res, `${res.locals.context.targetLinkUri}`);
    });
 
    lti.app.get(`/quizes/:quizId`, (req, res) => {
      ... 
    });
```


**Describe alternatives you've considered**
N/A

**Additional context**
N/A


Hello Mike, in order to use route parameters you would have to register every single one of the possibilities as a redirect URL on the Platform, since they check for it at the time of launch. If your target link is not registered on the LMS the request would fail. You can test that on Moodle by removing the redirect URLs. 

Usually in implementations people use query parameters to pass the resource IDs, Ltijs makes sure that query parameters do not interfere with the redirection process. 

Example:
```javascript
lti.onConnect(async (token, req, res) => {
  return lti.redirect(res, res.locals.context.targetLinkUri, { query: req.query })
});

lti.app.get(`/quizes`, (req, res) => {
  const id = req.query.id
});
``` 

Thank you. I had thought of using query parameters, but was not totally convinced that would be allowed according to this
(from https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest):

> redirect_uri
> REQUIRED. Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison).
> 

and I had assumed that included the query parameters. maybe a bad assumption on my part. Thanks again.

Thar varies from platform to platform, Canvas doesn't take query parameters into account while Moodle does, for example. Ltijs basically strips the URl of its query parameters and stores them in the state variable (part of the OIDC protocol) before returning the login request. Then it adds them back when the launch is received.

Because of that you can reliably use query parameters to pass information even on LMSs that have a more restrictive redirectURL policy.